
before_install:
    - pwd
    - which python
    - python --version
    - python -m pip install --user twine
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y build-essential gcc-multilib; fi

install:
    - travis_wait 40 bash gcc7/build_gcc7.sh
      #- bash gcc7/build_gcc7.sh

script:
    - cd gcc7 && python setup.py --gcc-install-prefix ~/gcc7_install/ bdist_wheel
    - ls dist/*
    - python -m twine upload dist/*

matrix:
  include:
      #    - os: osx
      #      osx_image: xcode7.3
      #    - os: osx
      #      osx_image: xcode8.3
    - os: osx
      osx_image: xcode9.4
    - os: linux
